{% extends 'base.html.twig' %}

{% block title %}500 - Erreur serveur{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-danger">Oops!</span> Erreur serveur.</p>
            <p class="lead">
                Une erreur inattendue s'est produite. Veuillez réessayer plus tard.
            </p>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}